<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <!--<p ng-if="modal.text" ng-bind="modal.text"></p>-->
  <!--<div ng-if="modal.html" ng-bind-html="modal.html"></div>-->
  <form>
    <div class="form-group">
      <label for="">应用/游戏的名称</label>
      <input type="text" class="form-control" ng-model="modal.data.appName" placeholder="20个字以内（可包括中英文）" maxlength="20">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的简单描述</label>
      <input type="text" class="form-control" ng-model="modal.data.appIntroduction" placeholder="50个字以内（可包括中英文）" maxlength="50">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的封面地址（图片大小300*200）</label>
      <input type="text" class="form-control"  ng-model="modal.data.appCover" placeholder="请提供在线地址，方便随时更新">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的地址</label>
      <input type="text" class="form-control" ng-model="modal.data.appUrl" placeholder="应用或游戏的在线地址">
    </div>
    <div class="form-group">
      <label for="">你的联系方式</label>
      <input type="text" class="form-control" ng-model="modal.data.contact" placeholder="QQ/电话">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的是否公开（选择私有则在个人中心可以自己使用，公开则会被其他人使用）</label>
      <label class="radio-inline">
        <input type="radio" value="public" ng-model="modal.data.scope"> 公开
      </label>
      <label class="radio-inline">
        <input type="radio" value="private" ng-model="modal.data.scope"> 私有
      </label>
    </div>
    <hr/>
    <div class="form-group">
      <label for="">自定义按键和命令的json集(使用经典游戏手柄接入的无需填写)</label>
      <textarea class="form-control" rows="3" data-ng-model="modal.data.keyCmd" placeholder='如[{"key":"开始","cmd":"start"},{"key":"下一个","cmd":"next"}]'></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click(modal.data)" ng-bind="button.text" class="btn"></button>
</div>
