<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <!--<p ng-if="modal.text" ng-bind="modal.text"></p>-->
  <!--<div ng-if="modal.html" ng-bind-html="modal.html"></div>-->
  <form>
    <div class="form-group">
      <label for="">应用/游戏的名称</label>
      <input type="text" class="form-control" ng-model="modal.data.name">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的描述</label>
      <input type="text" class="form-control" ng-model="modal.data.introduction">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的地址</label>
      <input type="text" class="form-control" ng-model="modal.data.">
    </div>
    <div class="form-group">
      <label for="">应用/游戏的封面地址（图片大小300*200）</label>
      <input type="text" class="form-control" ng-model="modal.data.cover">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
