<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container m-t-lg">
  <div class="app-store row">

    <!--menu-->
    <div class="menu col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">应用分类</div>
        <div class="page-body">
          <ul class="list-flat">
            <li ng-repeat="item in storeMenuList" class="{{ item.kind == kind ? 'menu-active':''}}">
              <a ng-href="/store/{{ item.kind }}" >{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--apps-->
    <div class="app-list col-md-10 col-sm-offset-0 row">
      <!--<p class="container">推荐</p>-->
      <div class="app-item" ng-repeat="item in storeAppList">
        <div class="thumbnail">
          <div class="item-cover">
            <img ng-src="{{ item.cover }}" >
          </div>
          <div class="caption item-info">
            <h3 class="info-name">{{ item.name }}</h3>
            <p class="info-intro">{{ item.introduction }}</p>
            <p class="text-right">
              <a href="store/kind/{{ item.kind }}/{{ item._id }}/details" class="btn btn-default hide" role="button">查看详情</a>
              <a target="_blank" href="box/play/{{ item._id }}/handle/{{ item.handleType }}" class="btn btn-primary" role="button">马上开始</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
