<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container m-t-lg">
  <div class="app-store row">
    <!--menu-->
    <div class="menu col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">应用分类</div>
        <div class="page-body">
          <ul class="list-flat">
            <li ng-repeat="item in storeMenuList">
              <a ui-sref="{{ item.sref }}" class="active">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--apps-->
    <div ui-view=""></div>
    <div class="app-list col-md-10 col-sm-offset-0 row">
      <div class="col-md-4 app-item" ng-repeat="item in storeAppList">
        <div class="thumbnail">
          <img ng-src="{{ item.cover }}" class="item-cover">
          <div class="caption item-info">
            <h3>{{ item.name }}</h3>
            <p>{{ item.introduction }}</p>
            <p class="text-right">
              <a href="store/{{ item.sort }}/{{ item.id }}/details" class="btn btn-default" role="button">查看详情</a>
              <a href="store/{{ item.sort }}/{{ item.id }}/play" class="btn btn-primary" role="button">开始游戏</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
