.app-store {
//  菜单
  .menu {
    .list-flat {
      padding-left: 20px;
      li {
        list-style-type: none;
        margin: 10px 0;
      }
    }
  }

  .app-list {
    .app-item {
      .item-cover {
        padding: 30px 0;
      }
      .item-info {
        border-top: 1px solid #cccccc;
      }
    }
  }

}
