$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//  覆盖样式，自定义样式

$main-color: #76C2AF;

@mixin rotate90() {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.text-primary, .text-info{
  color: $main-color;
}
.btn-primary, .btn-info {
  background-color: $main-color;
  border-color: $main-color;
  &:hover {
    opacity: 0.8;
  }
}
a {
  color: $main-color;
  cursor: pointer;
  text-decoration: none;
}
.text-muted {
  color: #999999;
}

.m-t {
  margin-top: 10px;
}

.m-b {
  margin-bottom: 10px;
}

.m-t-lg {
  margin-top: 40px;
}

//code highlight
pre {
  padding: 30px 0 0 0;
}
code .red {
  color: #d44950;
}

//  私有style
#header-logo {
  width: 20px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/app/app.scss';
@import 'admin/user/user.scss';
@import 'box/box.scss';
@import 'handle/handle.scss';
@import 'main/main.scss';
@import 'open/open.scss';
@import 'store/store.scss';
@import 'modal/modal.scss';
// endinjector
