<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container m-t-lg">
  <div class="open row">

    <div style="border: 1px solid #e7e7e7; border-radius: 3px; background: #f8f8f8; padding: 10px;">
      <span class="text-muted">通过End开放平台，你可以轻松接入你的游戏和app，让用户直接在应用商店扫码二维码即可使用手机操作你的游戏或app，有没有被酷到，赶紧加入End平台吧！</span>
      <br/>
      <br/>
      <p class="text-danger">你需要按照接入文档说明对应用或游戏进行构建，然后点击【提交资料申请接入】按钮填写资料进行提交，在通过我们的测试后，我们将会把你的应用或游戏上架到应用商店。</p>
      <!--<button class="btn btn-danger" ng-click="">进入测试环境</button>-->
      <button class="btn btn-primary" ng-click="showOpenJoinModal()">提交资料申请接入</button>
    </div>

    <hr/>
    <h2>接入文档</h2>
    <div class="table-responsive">
      <h3>1，常见游戏接入方式</h3>
      <h5>经典游戏手柄按键及对应命令接口</h5>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>操作</th>
          <th>命令接口</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cmdList">
          <th>{{ item.handle }}</th>
          <th scope="row">
            <code>{{ item.cmd }}</code>
          </th>
        </tr>
        </tbody>
      </table>

      <pre>
        <span class="text-muted">你只需要监听message事件,并根据相应的cmd命令，做出对应的反应操作即可。</span>
        <code>
          window.addEventListener(<span class="red">"message"</span>, function( <span class="red">event</span> ) {
              var <span class="red">cmd</span> = <span class="red">event.data</span>;

              <span class="text-muted">//  根据命名执行对应的操作</span>
              switch (<span class="red">cmd</span>) {
                  case <span class="red">'up'</span>:
                      <span class="text-muted">//  todo something</span>
                      console.log(<span class="red">'I will jump!'</span>);
                      break;
              }
          });
        </code>
      </pre>

    </div>
  </div>
</div>
