<ol class="breadcrumb">
  <li><button class="btn btn-default" ng-click="">添加应用</button></li>
</ol>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="app in apps">
    <div class="media">
      <div class="media-left pull-left">
        <a href="#">
          <img class="media-object"  alt="{{ app.name }}" ng-src="{{app.cover}}" style="width: 64px; height: 64px; border-radius: 50%;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading" id="media-heading"><strong>{{app.name}}</strong><br><a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
        {{app.introduction}}
      </div>
    </div>
    <div style="height: 20px; position: absolute; right: 10px; top: 10px;">
      <a ng-if="user.email != 'admin@admin.com'" ng-click="appDelete(app)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </li>
</ul>

