<!--按键音-->
<audio id="touchAudio" src="assets/audio/notify.wav">
  not work
</audio>
<!--经典游戏手柄-->
<div class="game" ng-if="isGame" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;">
  <span class="logo-text">End</span>
  <div class="top-left hide">
    <div class="line line-1">
      <button class="btn btn-default btn-lg" ng-touchstart="cmdtouch('left')"  ng-touchend="cmdtouch('touchend')">↑</button>
    </div>
    <div class="line line-2">
      <button class="btn btn-default btn-lg btn-1" ng-touchstart="cmdtouch('down')" ng-touchend="cmdtouch('touchend')">←</button>
      <button class="btn btn-default btn-lg btn-2" ng-touchstart="cmdtouch('up')" ng-touchend="cmdtouch('touchend')">→</button>
    </div>
    <div class="line line-3">
      <button class="btn btn-default btn-lg" ng-touchstart="cmdtouch('right')" ng-touchend="cmdtouch('touchend')">↓</button>
    </div>
  </div>

  <!--扇形圆形手柄-->
  <div class="top-left">
    <div id="circle">
      <div id="s1"ng-touchstart="cmdtouch('left')" ng-touchend="cmdtouch('touchend')"></div>
      <div id="s2" ng-touchstart="cmdtouch('up')" ng-touchend="cmdtouch('touchend')"></div>
      <div id="s3" ng-touchstart="cmdtouch('right')" ng-touchend="cmdtouch('touchend')"></div>
      <div id="s4" ng-touchstart="cmdtouch('down')" ng-touchend="cmdtouch('touchend')"></div>
    </div>
  </div>
  <div class="bottom-right">
    <div class="line line-1">
      <button class="btn btn-info btn-lg" ng-touchstart="cmdtouch('x')" ng-touchend="cmdtouch('touchend')">X</button>
    </div>
    <div class="line line-2">
      <button class="btn btn-info btn-lg" ng-touchstart="cmdtouch('y')" ng-touchend="cmdtouch('touchend')">Y</button>
    </div>
    <div class="line line-3">
      <button class="btn btn-info btn-lg" ng-touchstart="cmdtouch('z')" ng-touchend="cmdtouch('touchend')">Z</button>
    </div>
    <!--开始和暂停-->
    <button class="btn btn-info" id="game-btn-start" ng-touchstart="cmdtouch('start')" ng-touchend="cmdtouch('touchend')">开始</button>
    <button class="btn btn-info" id="game-btn-pause" ng-touchstart="cmdtouch('pause')" ng-touchend="cmdtouch('touchend')" >暂停</button>
    <button class="btn btn-info" id="game-btn-refresh" ng-touchstart="cmdtouch('refresh')" ng-touchend="cmdtouch('touchend')" >刷新</button>

  </div>
</div>

<!--自定义按键-->
<div class="app" ng-if="!isGame" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;">
  <header>End手柄</header>
  <div class="body">
    <button type="button" class="btn btn-primary" ng-repeat="k in keyCmd" ng-touchstart="cmdtouch('{{ k.cmd }}')" ng-touchend="cmdtouch('touchend')">{{ k.key }}</button>
  </div>
</div>
