<h5>所有用户</h5>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="user in users">
    <h5><i class="glyphicon glyphicon-user"></i> {{user.name}}<span ng-if="user.role == 'admin'" class="label label-danger" style="margin-left: 5px;">管理员</span></h5>
    <span class="text-muted"><i class="glyphicon glyphicon-envelope"></i> {{user.email}}</span>
    <div style="height: 20px; position: absolute; right: 10px; top: 10px; background: #eee">
      <a ng-if="user.role != 'admin'" ng-click="delete(user)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>删除</a>
    </div>
  </li>
</ul>
